@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  user-select: none;
  display: flex;
  width: 100vw;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.slick-slide {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}
.slick-slide:not(.slick-center):not(.slick-active) {
  transform: scale(0.9);
  background-color: transparent;
  font-size: 2rem;
}
.slick-slider {
  position: static !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 6rem;
}
.slick-center.slick-active {
  font-size: 4rem;
}
.slick-dots li button:before {
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 10px !important;
  line-height: 30px !important;
}
.slick-dots li.slick-active button:before {
  color: white;
}
